.theme-default-content code 
  background #e1f3d8
  margin 0 5px
  color #d63200

html, body 
  width 100%
  height 100%

.page-edit, .page-nav, h1 
  position relative
  z-index 2


.en, .zh
  margin-bottom 3em

.auth-info
  font-style oblique
  font-family Garamond

@media (max-width: 419px) 
  .theme-default-content div[class*="language-"] 
    margin 0

.link-active
  color #e2777a

.medium-zoom-image
  // box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .4)
  position relative
  width 100%
  margin 10px auto
  border-radius 6px

table{
  display inline-block
  // &:hover {
  //   box-shadow: 0 0 8px 0 rgba(232, 237, 250, 0.6), 0 2px 4px 0 rgba(232, 237, 250, 0.5);
  // }
}




.theme-default-content pre code, .theme-default-content pre[class*="language-"] code{
  color #606266
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
  border 1px solid #ebebeb

  // &:hover {
  //   box-shadow: 0 0 8px 0 rgba(232, 237, 250, 0.6), 0 2px 4px 0 rgba(232, 237, 250, 0.5);
  // }
}

div[class*="language-"] {
  background: #fafafa;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999;
}

.token.punctuation {
	// color: #ccc;
  color #3182bd
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	// color: #e2777a;
  color #3182bd
}

.token.function-name {
	// color: #6196cc;
	color #3182bd
}

.token.boolean,
.token.number,
.token.function {
	// color: #f08d49;
	color #3182bd
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	// color: #cc99cd;
  color #3182bd
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	// color: #7ec699;
  color #756bb1
}

.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}

.token.inserted {
	color: green;
}

div[class*="language-"]::before{
  color #ccc
}