@import url "element-ui/lib/theme-chalk/index.css"
  
.theme-default-content code 
  background #e1f3d8
  color #d63200

html, body 
  width 100%
  height 100%

.page-edit, .page-nav, h1 
  position relative
  z-index 2

.en, .zh
  margin-bottom 3em

.auth-info
  font-style oblique
  font-family Garamond

@media (max-width: 419px) 
  .theme-default-content div[class*="language-"] 
    margin 0

.link-active
  color #e2777a

.medium-zoom-image
  position relative
  margin 10px auto
  border-radius 6px
  
.theme-default-content pre code, .theme-default-content pre[class*="language-"] code
  color #606266


/* Code blocks */
pre[class*="language-"] 
	padding 1em
	margin .5em 0
	overflow auto
  border 1px solid #ebebeb

div[class*="language-"] 
  background #fafafa
  &::before
    color #ccc

.token
  &.comment,
  &.block-comment,
  &.prolog,
  &.doctype,
  &.cdata
    color #999
  &.punctuation
    color #3182bd
  &.tag,
  &.attr-name,
  &.namespace,
  &.deleted 
    color #3182bd
  &.function-name 
    color #3182bd
  &.boolean,
  &.number,
  &.function
    color #3182bd
  &.property,
  &.class-name,
  &.constant,
  &.symbol 
	  color #e6550d
  &.property,
  &.class-name,
  &.constant,
  &.symbol 
    color #e6550d
  &.selector,
  &.important,
  &.atrule,
  &.keyword,
  &.builtin 
    color #3182bd
  &.string,
  &.char,
  &.attr-value,
  &.regex,
  &.variable 
    color #756bb1
  &.operator,
  &.entity,
  &.url 
    color #67cdcc
  &.inserted 
    color green

.theme-default-content:not(.custom), .page-edit, .page-nav
  max-width 900px !important

.code-copy 
  z-index 10 !important
  svg
    width 16px
    height 16px